@{
    ViewData["Title"] = "About Me";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>My story:</strong> I've dabbled in quite a few occupations throughout the years but always got bored. 
When I learned about coding, I didn't realize how challenging or engaging it would be. The more I do it,
the more I enjoy it. Coding brings together so many things I enjoy (learning, critical thinking, solving puzzles,
challenging myself) and it is ever-changing so I'll likely never get bored.</p>
      
<p><strong>Work Experience:</strong> Coming soon!</p>     

<p><strong>Education:</strong> Coming soon!</p>

<p><strong>Relevant Skills:</strong> Coming soon!</p>        