@{
    ViewData["Title"] = "Contact Me";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

     
<h4>Email: rpgandhi@gmail.com</h4>
<h4>LinkedIn: linkedin.com/rakheegandhi</h4>
<h4>Github: github.com/rpgandhi</h4>       
   
