@model IEnumerable<Portfolio.Models.GithubRepos>
@using Portfolio.Models


<h2>Check out some of my Github Projects!</h1>

    <div class="row" id="repo">     
        
@foreach (var repo in Model)
{
  <div class="col-md-4 well" style="border: 20px">                                                      
               
        <h3><a target="_blank" href=@repo.Html_Url> @repo.Name</a></h3>              
    
 </div>         
} 
      
    </div>   


           